  
#################################################################################
# Global .gitignore. Ignores everything.  We'll whitelist what we want to commit
#################################################################################
/*
/*/

# Ignore all these -subfolders- for "Assets"
*Assets/ExampleAssets/
*Assets/Presets/
*Assets/TutorialInfo/

# Ignore this folder
*tripolygon

# Ignore all files with these extensions
*.meta
*.asset
*.mat
*.prefab

# Git meta files
!.gitignore
!README.md

# Whitelisted directories/files
!/Assets/
